body {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}

.input {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

label {
    font-weight: bold;
}

.form input {
    border: none;
    height: 25px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: large;
}
